{% extends "base.html" %}

{% block title %}Email de Redefinição Enviado{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2 class="mt-4 mb-4">Email Enviado</h2>
        <div class="alert alert-success" role="alert">
            Enviamos um email com instruções para definir sua senha, caso exista uma conta com o email que você informou. Você deve recebê-lo em breve.
        </div>
        <p>Se você não receber um email, por favor, certifique-se de que digitou o endereço com o qual se cadastrou e verifique sua pasta de spam.</p>
        <p><a href="{% url 'login' %}" class="btn btn-primary">Voltar para Login</a></p>
    </div>
</div>
{% endblock %}

